@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");


.textos1{

    text-decoration: none !important;
    font-family: Tomorrow, sans-serif !important;
    font-weight: bold !important;
    color: antiquewhite !important;
 }

 .MuiFormControl-root{
     font-family: Tomorrow, sans-serif !important;
    background-color: #5c1c73 !important;
    
 }
 



 .imagem{
    background: url(https://i.imgur.com/cvZQp7l.jpg)!important;
    background-repeat: no-repeat !important;
    width: 100vh !important;
    min-height: 100vh !important;
    background-size: cover !important;
    background-position: center;
    }

.background{
    background-color: #2d2f62 !important;
} 
 
 .text-decorator-none{
     text-decoration: none;
 }

 .btn {
    width: 230px !important;
    height: 60px !important; 
    border: 0 !important;
    outline: none !important;
    cursor: pointer !important;
    position: relative !important;
    font-family: Tomorrow, sans-serif !important;
    font-size: .999rem !important;
    text-transform: uppercase !important;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0) !important;
    text-decoration: none !important;
  }
  
  .btn-content {
    
    
    top: 2px!important;
    left: 2px!important;
    right: 2px!important;
    bottom: 2px!important;
    background-color: var(--yellow-color)!important;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0)!important;
  }
  
  .btn--secondary {
    background: linear-gradient(45deg,#7e138f 18%, #5c1c73 46% )!important;
  }              

  .btn2 {
    width: 380px !important;
    height: 80px !important; 
    border: 0 !important;
    outline: none !important;
    background-color: var(--black-color) !important;
    cursor: pointer !important;
    position: relative !important;
    font-family: Tomorrow, sans-serif !important;
    font-size: .999rem !important;
    text-transform: uppercase !important;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0) !important;
    text-decoration: none !important;
  }
  
  .btn-content2 {

    justify-content: center !important;
    top: 2px!important;
    left: 2px!important;
    right: 2px!important;
    bottom: 2px!important;
    background-color: var(--yellow-color)!important;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0)!important;
  }
  
  .btn--secondary2 {
    background: linear-gradient(45deg,#7e138f 18%, #5c1c73 46% )!important;

}              
  

 /* background-image: url(https://i.imgur.com/d5bMdDJ.jpg)!important;
 background-repeat: no-repeat;
 width: 100vh;
 min-height: 100vh;
 background-size: cover;
 background-position: center; */